/* styles go here */
.box {
  border: 0.4 px solid grey;
}

.space {
  height: 20px;
}

.choose {
  margin-top: 1.5 px;
}

.form-field,
.choose {
  display: block;
  margin-bottom: 10px;
}

.form-color {
  display: inline-block;
  margin-bottom: 10px;
}

.color {
  display: inline;
}

.vol {
  margin-top: 19px;
  display: inline-block;
}

.recommend {
  display: inline-block;
  margin-top: 10px;
}
